@model SMS.Models.Exam__Info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exam__Info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exam_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
